form{
    width:70%;
    height:100px;
    background-color:grey;
    border:1px solid black ;
    padding:20px;
    gap:10px;
    margin:20px auto;
}
input{
    height: 20px;
    border-radius: 8px;

}
.drop-down{
    height: 25px;
    width:170px;
    border-radius: 8px;
    appearance: none;
}