#nav{
    background-color: darkmagenta;
    margin:10px  0px 10px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
    height:30px;
    color:azure;
    text-decoration: none;
}
#form-cont{
    background-color: rgb(163, 100, 221);
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    gap:10px;
}
#admin-form{
    background-color: rgb(163, 100, 221);

}
#form-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    gap:10px;
}
#login{
    background-color: rgb(24, 202, 24);
    border: 2px solid rgb(24, 202, 24);
    border-radius: 5px;
    height:20px;
    width: 60px;
    margin:20px;
}
#bookie{
    background-color: rgb(24, 202, 24);
    border: 2px solid rgb(24, 202, 24);
    border-radius: 5px;
    height:20px;
    width: 100px;
    margin:20px;
}